@use 'src/assets/css/variables' as *;

@mixin grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: $gap-8;
}

@mixin grid-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: $gap-4;
}
