@use '../variables.scss' as *;
@use '../partials/fonts' as *;

$borderWidth: 2px;

.event {
  &__date {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    color: #444444;

    &__time {
      font-size: $size-9;
      color: #666666;
      font-weight: 400;
    }
  }
  &__info-box {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    background-color: #f9f8ff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 20px;

    @media (min-width: $screen-sm) {
      grid-template-columns: 1fr 4fr;
    }

    &__details {
      h2 {
        text-transform: uppercase;
        font-family: $font-primary;
        font-size: $size-12;
        color: #000000;
        font-weight: 400;
        margin-bottom: 5px;
        @include letterSpacingPercent(5, $size-12);

        &:before {
          content: '';
          display: block;
          width: 23px;
          height: 4px;
          background-color: #8f78fb;
        }
      }

      p {
        font-size: $size-8;
        color: #333333;
        max-width: 600px;
        @include letterSpacingPercent(5, $size-8);
      }
    }
  }

  &__switcher {
    display: block;
    // padding-bottom: 30px;
    // border-bottom: $borderWidth solid rgba(0, 0, 0, 0.2);

    @media (min-width: $screen-sm) {
      height: 40px;
      display: flex;
    }

    &__title {
      color: #b7b7b7;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 0.7px;
      margin-bottom: 9px;
      flex-shrink: 0;
      // padding-bottom: 30px;

      @media (min-width: $screen-sm) {
        border-bottom: $borderWidth solid rgba(0, 0, 0, 0.2);
        padding-right: 100px;
        margin-bottom: 12px;
      }

      @media (min-width: $screen-md) {
        margin-bottom: 9px;
      }

      @media (min-width: $screen-lg) {
        margin-bottom: 6px;
      }
    }

    &__scroll {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      // -ms-overflow-style: none; /* for Internet Explorer, Edge */
      // scrollbar-width: none; /* for Firefox */

      // &::-webkit-scrollbar {
      //   display: none; /* for Chrome, Safari, and Opera */
      // }
    }

    &__events {
      display: flex;
      list-style: none;
      width: 100%;
      // padding-bottom: 30px;
      border-bottom: $borderWidth solid rgba(0, 0, 0, 0.2);

      &__event {
        position: relative;
        font-size: 18px;
        font-weight: bold;
        color: #bdbdbd;
        text-transform: uppercase;
        padding: 0 15px 8px;
        margin-right: 10px;
        cursor: pointer;
        flex-shrink: 0;

        &.active {
          color: #000000;

          &:after {
            content: '';
            width: 100%;
            bottom: -2px;
            position: absolute;
            left: 0;
            border-bottom: $borderWidth solid #000000;
          }
        }
      }
    }
  }
}
