@use '../variables.scss' as *;

.player {
  &__stream-status {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (min-width: $screen-lg) {
      align-items: flex-end;
    }
  }

  &__live {
    display: flex;
    align-items: center;

    &__dot {
      height: 12px;
      width: 12px;
      background-color: #ff0000;
      border-radius: 6px;
      margin-right: 5px;
    }

    &__description {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
    }
  }

  &__header {
    display: flex;
    height: 100%;
    align-items: center;

    &__title {
      text-transform: uppercase;
      font-size: $size-12;
      color: #000000;
      line-height: 1;
    }
  }

  &__date {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
    color: #444444;
    text-align: right;

    span {
      font-size: $size-9;
      color: #666666;
      font-weight: 400;
    }
  }
}
