@use '../variables.scss' as *;
@use '../partials/fonts';

.schedule {
  &__title {
    text-transform: uppercase;
    color: #0a0a0a;
    background-color: #f3f3f3;
    padding: 18px;
    margin-bottom: 8px;

    @include fonts.font-lg;
    @include fonts.bold;
  }

  &__sessions {
    list-style: none;
    overflow-y: auto;
    max-height: 400px;

    @media (min-width: $screen-lg) {
      max-height: 260px;
    }

    @media (min-width: 1100px) {
      max-height: 300px;
    }

    @media (min-width: 1175px) {
      max-height: 350px;
    }

    @media (min-width: $screen-xl) {
      max-height: 420px;
    }

    @media (min-width: 1400px) {
      max-height: 480px;
    }

    @media (min-width: 1450px) {
      max-height: 500px;
    }

    @media (min-width: 1500px) {
      max-height: 520px;
    }

    @media (min-width: $screen-xxl) {
      max-height: 540px;
    }

    @media (min-width: 1600px) {
      max-height: 560px;
    }

    @media (min-width: 1650px) {
      max-height: 580px;
    }

    @media (min-width: 1700px) {
      max-height: 620px;
    }

    @media (min-width: 1750px) {
      max-height: 640px;
    }

    @media (min-width: 1800px) {
      max-height: 680px;
    }
  }

  &__session {
    border: 1.5px solid #dddddd;
    margin-bottom: 8px;
    padding: 8px 11px;

    &__name {
      display: block;
      color: $color-primary;
      margin-bottom: 10px;

      @include fonts.font-lg;
      @include fonts.semi-bold;
    }

    &__date {
      font-size: 14px;
      color: $color-primary;
      @include fonts.bold;
    }

    &__speakers {
      font-size: 14px;
      color: $color-secondary-dark;
      line-height: 1.2;
    }

    &__info {
      tr {
        td {
          vertical-align: middle;
        }

        td:first-child {
          padding-right: 5px;
        }
      }

      i {
        display: block;
        width: 18px;
        height: 18px;
      }
    }
  }
}
