@use 'src/assets/css/variables' as *;
@use 'partials/fonts';

html {
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  font-family: $font-primary;
  color: $color-primary;

  @include fonts.font-md;

  @media (max-width: $screen-lg) {
    @include fonts.font-sm;
  }

  @media (max-width: $screen-md) {
    @include fonts.font-xs;
  }
}

body {
  position: relative;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

.no-select {
  user-select: none;
}

// For cases where we don't want default link styling
a.plain {
  color: inherit;
  text-decoration: none;
}

li.plain {
  list-style-type: none;
}
