@use 'src/assets/css/variables'as *;

.container {
  h3 { 
    margin: 16px 0;
  }

  section {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 32px;
    margin-bottom: 16px;
  }

  // .passed {
  //   @extend .event;
  //   opacity: 0.8;
  //   filter: grayscale(80%);
  // }

  .event {
    cursor: pointer;
    width: 360px;
    -webkit-box-shadow: 4px 8px 8px -8px darkgray;
    -moz-box-shadow: 4px 8px 8px -8px darkgray;
    box-shadow: 4px 8px 8px -8px darkgray;

    &:hover {
      -webkit-box-shadow: 4px 8px 8px -8px grey;
      -moz-box-shadow: 4px 8px 8px -8px grey;
      box-shadow: 4px 8px 8px -8px grey;
    }

    .poster {
      position: relative;
      height: 140px;
      width: 100%;
    }

    .info {
      padding: 16px;

      h4 {
        font-weight: bold;
        font-size: 1.25rem;
        margin-bottom: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        font-size: 1rem;
        margin-bottom: 0.5rem;
      }

      .domain {
        font-size: 12px;
        margin-top: 16px;
        text-transform: uppercase;
        color: darkgray;
      }
    }
  }
}