.navbar {
  @apply border-b-2 border-gray-200 py-4;

  &__inner {
    @apply relative flex items-center justify-between;
  }

  &__hamburger {
    @apply absolute inset-y-0 right-0 flex items-center md:hidden;

    &__button {
      @apply inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white;

      &__icon {
        @apply block h-6 w-6;
      }
    }
  }

  &__nav {
    @apply flex-1 flex items-center sm:items-stretch justify-between;

    &__items {
      @apply hidden md:flex md:items-center;
    }

    &__item {
      @apply px-6 py-2 rounded-md text-base font-medium text-gray-800 hover:bg-gray-200 border border-transparent dark:text-gray-100 dark:hover:bg-black dark:hover:border dark:hover:border-white;

      &.active {
        @apply bg-gray-200 text-gray-800 dark:text-gray-100 dark:bg-black dark:border-white;
      }
    }
  }

  &__logo {
    position: relative;
    height: 40px;
    width: auto;

    img { 
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position: left center;
    }
  }

  &__mobileMenu {
    @apply md:hidden;

    &__items {
      @apply px-2 pt-2 pb-3 space-y-1;
    }

    &__item {
      @apply block px-3 border border-transparent py-2 rounded-md text-base font-medium text-gray-800 hover:bg-gray-200 dark:text-white dark:hover:border-white dark:hover:bg-black;

      &.active {
        @apply bg-gray-200 text-gray-800 dark:bg-black dark:border dark:border-white dark:text-white;
      }
    }
  }
}
