.widget {
  display: grid;
  grid-template-areas:
    'header'
    'player'
    'eventInfo'
    'sidebar';
  grid-template-columns: 1fr;
  grid-row-gap: 10px;

  @media (min-width: 900px) {
    grid-template-areas:
      'header header'
      'player sidebar'
      'eventInfo sidebar';
    grid-template-columns: 1fr 320px;
    grid-template-rows: auto auto 1fr;
    grid-column-gap: 20px;
  }

  .header {
    grid-area: header;
  }

  .player {
    grid-area: player;
    @apply aspect-video relative;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .eventInfo {
    grid-area: eventInfo;
  }
}
