@use 'src/assets/css/variables' as *;

.container {
  .filter {
    margin-top: 32px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin-top: 32px;

    @media (max-width: $screen-sm) {
      display: flex;
      flex-direction: column;
    }

    @media (max-width: $screen-xl) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .card {
    position: relative;

    .tags {
      position: absolute;
      padding: 8px;
      top: 0;
      right: 0;
      z-index: 2;
    }

    .thumbnail {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 56.25%;
      width: 100%;
      background-color: black;

      img {
        opacity: 0.2;
      }
    }

    .play {
      position: absolute;
      color: #fff;
      font-size: 3rem;
      margin-bottom: 50%;
    }

    .video {
      width: 100%;
    }

    h4 {
      font-weight: bold;
      font-size: 1.25rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
  }
}
