.default_layout {
  overflow: hidden;
  height: 100vh;

  @media screen and (max-height: 768px) {
    overflow: auto;
    min-height: 100vh;
    height: auto;

  }

  @media screen and (min-width: 1240px) {
    overflow: auto;
    height: 100vh;
  }
}