@use 'src/assets/css/variables'as *;

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .inner {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding: 16px 0;

    .logo {
      cursor: pointer;
      display: flex;
      position: relative;
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .icon {
      font-size: 1.25rem;
    }
  }
}